.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
  }
  &__logo {
    flex: 0 0 60px;
    position: relative;
    z-index: 3;

    img {
      max-width: 100%;
    }
  }
  &__burger {
    display: none;
  }

  &__link {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.35px;
    color: $white;
  }
}
.--fixed {
  position: fixed;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(40%, 15%, 14%, 0.8);
    z-index: 2;
  }
}

@media (min-width: 1400px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 992px) {
}

@media (min-width: 768px) {
  .container {
    max-width: 1100px;
  }

  .header {
    &__row {
      height: 80px;
    }
    &__burger {
      display: none;
    }
    &__menu {
      position: relative;
      top: 0;
      left: 0;
      width: auto;
      height: auto;
      overflow: auto;
      transition: all 0.3s ease 0s;
    }
    &__list {
      display: flex;
      position: relative;
      z-index: 2;
      li {
        margin: 0px 0px 0px 30px;
      }
    }
    &__link {
      font-size: 14px;
    }
  }
}

@media (min-width: 576px) {
}

@media (min-width: 320px) {
  .container {
    max-width: none;
  }

  .header {
    &__row {
      height: 50px;
    }
    &__burger {
      cursor: pointer;
      position: relative;
      height: 20px;
      width: 20px;
      display: block;
      z-index: 3;
      &::before,
      &::after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }

      span {
        position: absolute;
        background-color: #fff;
        width: 100%;
        left: 0;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }

      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      &.active {
        span {
          transform: scale(0);
        }
        &::before {
          transform: rotate(45deg);
          top: 9px;
        }
        &::after {
          transform: rotate(-45deg);
          bottom: 9px;
        }
      }
    }
    &__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      transition: all 0.3s ease 0s;
      text-align: center;
      &.active {
        padding: 100px 10px 20px 10px;
        background-color: $warm-red;
        top: 0;
        transition: all 0.3s ease 0s;
      }
    }

    &__list {
      display: block;

      li {
        margin: 0px 0px 20px 0px;
      }
    }
    &__link {
      font-size: 24px;
    }
  }

  body.lock {
    overflow: hidden;
  }
}
