.partners-block {
  background-color: $white-two;
  padding: 100px 0px 100px 0px;
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__img {
    margin: 0px 30px 60px 30px;
  }

  &__title {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    line-height: 1.67;
    color: $greyish-brown;
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
  }

  &__text {
    text-align: center;
    font-size: 18px;
    line-height: 1.67;
    color: $greyish-brown;
    font-weight: 600;
    margin: 40px 0px 0px 0px;
  }
}
