.services-block {
  padding: 120px 0px 100px 0px;
  &__title {
    margin: 0px 0px 60px 0px;
  }

  &__subtitle {
    margin: 0px 0px 70px 0px;
  }

  &__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.title {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 1.2;
  color: $greyish-brown;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: $greyish-brown;
    margin: 0px 0px -25px -25px;
  }
}
.subtitle {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--greyish-brown);
}
.items-services-block {
  display: flex;
  flex: 1 1 28%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 40px 0px 0px;

  &__logo {
    margin: 0px 0px 30px 0px;
  }

  &__title {
    margin: 0px 0px 25px 0px;
    font-family: "Montserrat";
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.71;
    color: $greyish-brown;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    color: $greyish-brown;
    width: 100%;
    max-width: 350px;
    margin: 0px 0px 0px 0px;
    text-align: center;
  }
}

@media (min-width: 1400px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 992px) {
}

@media (min-width: 768px) {
}

@media (min-width: 576px) {
  .items-services-block {
    margin: 0px 40px 60px 0px;
  }
  .services-block {
    &__row {
      flex-direction: row;
    }
  }
}

@media (min-width: 320px) {
  .services-block {
    &__row {
      flex-direction: column;
    }
  }
  .items-services-block {
    margin: 0px 0px 60px 0px;
  }
}
