.works-block {
  padding: 100px 0px 100px 0px;
  &__title {
    margin: 0px 0px 60px 0px;
  }
}
.container {
}
.title {
}
.works-block-tabs {
  &__triggers {
    margin: 0px 0px 70px 0px;
  }

  &__triggers-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__content {
  }
}
.tab-triggers {
  &__item {
    margin: 0px 15px 0px 15px;
    font-size: 16px;
    line-height: 1.5;
    color: $greyish-brown;
    &:hover,
    &:focus {
      color: $sienna;
    }
  }
}
.tabs-content {
  &__item {
    display: none;
  }
  &__item--active {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media (min-width: 1400px) {
}

@media (min-width: 1200px) {
  .tabs-content {
    &__item--active {
      justify-content: space-between;
    }
  }
}

@media (min-width: 992px) {
  .tabs-content {
    &__item--active {
      justify-content: space-evenly;
    }
  }
  .works-block-tabs {
    &__img {
      margin: 0px 0px 30px 0px;
      img {
        max-width: 360px;
      }
    }
  }
}

@media (min-width: 768px) {
}

@media (min-width: 576px) {
}

@media (min-width: 320px) {
  .tabs-content {
    &__item--active {
      justify-content: center;
    }
  }
  .works-block-tabs {
    &__img {
      margin: 0px 10px 30px 0px;
      img {
        width: 100%;
        max-width: 330px;
        height: auto;
      }
    }
  }
}
