.works-block {
  padding: 100px 0px 100px 0px;
  &__title {
    margin: 0px 0px 60px 0px;
  }
}
.container {
}
.title {
}
.works-block-tabs {
  &__triggers {
    margin: 0px 0px 70px 0px;
  }

  &__triggers-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__content {
  }

  &__img {
    display: flex;
    align-items: center;
    position: relative;
    &:hover {
      .works-block-tabs-hover {
        opacity: 1;
        visibility: visible;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0.7;
        background-color: $sienna;
      }
    }
  }
}
.ab {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
}

.tab-triggers {
  &__item {
    margin: 0px 15px 0px 15px;
    font-size: 16px;
    line-height: 1.5;
    color: $greyish-brown;
    &:hover,
    &:focus {
      color: $sienna;
    }
  }
}
.tabs-content {
  &__item {
    visibility: hidden;
    opacity: 0;
    width: 0px;
    height: 0px;
  }
  &__item--active {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    visibility: visible;
    opacity: 1;
    width: auto;
    height: auto;
  }
}

@media (min-width: 1400px) {
}

@media (min-width: 1200px) {
  .tabs-content {
    &__item--active {
      justify-content: space-between;
    }
  }
}

@media (min-width: 992px) {
  .tabs-content {
    &__item--active {
      justify-content: space-evenly;
    }
  }
  .works-block-tabs {
    &__img {
      margin: 0px 0px 30px 0px;
      img {
        max-width: 360px;
      }
    }
  }
}

@media (min-width: 768px) {
}

@media (min-width: 576px) {
}

@media (min-width: 320px) {
  .tabs-content {
    &__item--active {
      justify-content: center;
    }
  }
  .works-block-tabs {
    &__img {
      margin: 0px 10px 30px 0px;
      img {
        width: 100%;
        max-width: 330px;
        height: auto;
      }
    }
  }
}

.works-block-tabs-hover {
  transition: all 0.7s ease;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &__text {
    text-align: center;
    margin: 0px 0px 25px 0px;
    max-width: 120px;
    p {
      font-family: "Montserrat";
      font-size: 18px;
      text-align: center;
      color: $white;
      margin: 0px 0px 16px 0px;
    }
    span {
      font-size: 12px;
      color: $white;
    }
  }
  &__btn {
    width: 100%;
    min-width: 100px;
    background-color: $white;
    padding: 15px 0px 13px 0px;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: $sienna;
  }
}
